.login{
    height: 93.5vh;
    position: relative;
    &-card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-form {
        max-width: 500px;
    }
    &-form-button {
        width: 100%;
    }
    
}
