.cart-category{
    &-square{
        margin: 1em;
        // background-color: white;
        // &-image{
        //     overflow: hidden;
        //     object-fit: cover;
        //     height: 15rem;
        //     max-width: 15rem;
        //     margin: 1em auto 0 auto;
        // }
    }
    &-round{
      background: transparent;
        cursor:pointer;
        margin: 1em;
        border-radius: 50%;
          &-image{
            overflow: hidden;
            object-fit: cover;
            height: 15rem;
            width: 15rem;
            margin: 1em auto 0 auto;
            border-radius: 50% !important;
        }
        &-body{
          text-align: center;
        }
    }
    
}

.preview-card{
      margin: 1rem 1rem ;
      &-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-extra{
            margin-top: 2px;
            .ant-card-meta-title{
              font-weight: 400;
              font-size: 14px;
            }
        }
        &-star{
           &-filled{
             color: red;
           }
        }
      }
      .ant-card-body {
        padding: 8px 12px; 
      }
      .ant-card-meta-detail > div:not(:last-child) {
        margin-bottom: 0;
      }
      &-description-p{
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
}



@media (max-width: 576px)  {
  .preview-card{
      margin:0;
  }
  .cart-category{
    &-square{
      // margin: 0;
    }
    &-round{
      .ant-card-meta-title{
        font-size: 12px;
      }
      margin: 0;
      &-image{
        height: 10rem;
        width: 10rem;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cart-category{
    &-round{
      .ant-card-meta-title{
        font-size: 12px;
      }
      margin: 0;
      &-image{
        height: 15rem;
        width: 15rem;
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .cart-category{
    &-round{
      &-image{
        height: 13rem;
        width: 13rem;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cart-category{
    &-round{
      &-image{
        height: 13rem;
        width: 13rem;
      }
    }
  }
}